body{
    font-family: 'Lobster', cursive;
    text-align: justify;
    margin: 0px;
}
h1{
    color: rgb(0, 0, 0);
    font-size: 40px;
}
h2{
    font-size: 40px;
}
h3{
    font-weight: 300;
}
p{
    color: darkslategray;
}
.titleColor{
    color:gold;
}
.first-left{
    width: 40%;
    float: left;
    margin-left: 3%;
    padding-left: 3%;
    
}
.first-left img{
    width: 100%;
    
}

.top-part{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    height: 500px;
    padding-bottom: 60px;

}

.description-part{
    background-image: url(images/exp-bg.png);
    background-position: left;
    background-repeat: no-repeat;
    height: 500px;
    padding-bottom: 60px;

}
.link-button{
    padding: 15px 20px;
    text-decoration: none;
    background: linear-gradient(45deg,orange,red);
    color: white;
    font-weight: 800;
    border-radius: 10px;
}
.lower-part{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    height: 500px;
    padding-bottom: 60px;
}
.shadow-box{
    box-shadow: 10px 10px 40px;
    padding: 5px;
    height: 80%;
    border-radius: 10px;
}
#left-box{
    border-left: 8px solid;
    border-image: linear-gradient(180deg,orange,red);
    border-image-slice: 1;
    background: white;
    margin-right: 70px;
    
}
#right-box{
    border-left: 8px solid;
    border-image: linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 20px;
    color: black;
}